{% extends 'shop/base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'shop/css/components/about.css' %}">
{% endblock %}

{% block content %}
<div class="about-page">
    {% if company %}
        <h1>{{ company.title }}</h1>

        {% if company.logo %}
    <div class="logo-container">
        <img src="{{ company.logo.url }}"
             alt="Логотип {{ company.title }}"
             class="logo-transformed">
    </div>
{% endif %}

        <div class="short-description">
            <h2>О нас</h2>
            <p>{{ company.short_description }}</p>
        </div>

        <div class="full-description">
            <h2>Подробнее о компании</h2>
            <p>{{ company.full_description }}</p>
        </div>


        {% if company.video_url %}
        <div class="video-container">
            <h2>Видео о компании</h2>
            <iframe width="560" height="315"
                    src="{{ company.video_url|youtube_embed }}"
                    title="Видео о компании"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    referrerpolicy="strict-origin-when-cross-origin"></iframe>
        </div>
        {% endif %}


         {% if company.history %}
        <div class="company-history">
            <h2>История компании</h2>
            <div class="history-list">
                {{ company.history|linebreaksbr }}
            </div>
        </div>
        {% endif %}

         {% if company.requisites %}
        <div class="company-requisites">
            <h2>Реквизиты</h2>
            <div class="requisites-text">
                {{ company.requisites|linebreaksbr }}
            </div>
        </div>
        {% endif %}

        {% if company.certificate %}
        <div class="company-certificate">
            <h2>Сертификат</h2>
            <div class="certificate-block">
                {# Если company.certificate содержит текст, он будет внутри блока #}
                <p>{{ company.certificate }}</p>
            </div>
        </div>
        {% endif %}

        <div class="meta-info">
            <p>Информация обновлена: {{ company.updated_at|date:"d.m.Y" }}</p>
        </div>
    {% else %}
        <div class="no-info">
            <h1>О компании</h1>
            <p>Информация о компании в данный момент недоступна.</p>
        </div>
    {% endif %}
</div>
{% endblock %}