{% extends 'shop/base.html' %}  <!-- Если у вас есть базовый шаблон -->

{% block content %}
{% load custom_filters %}  <!-- Load the custom filters at the top of your template -->

<div class="news-container">
    <h1>Новости</h1>

    {% for article in articles %}
    <div class="news-article">
        <h2>{{ article.title }}</h2>

        {% if article.youtube_url %}
        <div class="video-container">
            <iframe width="560" height="315"
                    src="{{ article.youtube_url|youtube_embed }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                    referrerpolicy="strict-origin-when-cross-origin">
            </iframe>
        </div>
        {% endif %}


        <p class="publication-date">Опубликовано: {{ article.publication_date|date:"d.m.Y H:i" }}</p>

        {% if article.category %}
        <p class="category">Категория: {{ article.category }}</p>
        {% endif %}

        <p class="short-description">{{ article.short_description }}</p>

        <div class="full-content">
            {{ article.full_content|linebreaks }}
        </div>

    </div>
    <hr>
    {% empty %}
    <p>Новостей пока нет.</p>
    {% endfor %}
</div>
{% endblock %}