{% extends "shop/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'shop/css/components/privacy.css' %}">
{% endblock %}
{% block content %}
<h2>Политика конфиденциальности</h2>

<p>Мы в нашей кондитерской очень ценим вашу конфиденциальность и стремимся защищать ваши личные данные. Эта политика объясняет, какие данные мы собираем, как их используем и как защищаем.</p>

<h3>Сбор данных</h3>
<p>Мы можем собирать следующие данные:</p>
<ul>
    <li>Имя, контактные данные (телефон, email) при оформлении заказа или регистрации на сайте;</li>
    <li>Информацию о заказах и предпочтениях;</li>
    <li>Технические данные о вашем устройстве и браузере (cookies, IP-адрес и т.п.).</li>
</ul>

<h3>Использование данных</h3>
<p>Собранные данные используются для:</p>
<ul>
    <li>Обработки и выполнения заказов;</li>
    <li>Связи с вами по вопросам заказов и акций;</li>
    <li>Улучшения качества сервиса и персонализации предложений.</li>
</ul>

<h3>Передача данных третьим лицам</h3>
<p>Мы не передаем ваши личные данные третьим лицам без вашего согласия, за исключением случаев, необходимых для выполнения заказа (например, доставка через курьерскую службу).</p>

<h3>Защита данных</h3>
<p>Мы применяем меры безопасности для защиты ваших данных от несанкционированного доступа, изменения или удаления.</p>

<h3>Cookies</h3>
<p>Наш сайт использует cookies для улучшения работы сайта и сохранения предпочтений пользователя. Вы можете отключить cookies в настройках браузера, но некоторые функции сайта могут стать недоступны.</p>

<h3>Контакты</h3>
<p>Если у вас есть вопросы по нашей политике конфиденциальности, пожалуйста, свяжитесь с нами по адресу khorosko15@gmail.com или телефону +375 11 111-11-11</p>

{% endblock %}
